* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    .container {
        width: 50%;
        margin: 75px auto 0px auto;
        // svg element
        #svg {
            overflow: visible;
            width: 100%;
        }
        // long list
        #long__list {
            display: none;
        }
        // screen cover
        #screen__cover {
            opacity: 0;
        }
        // bubble items
        // half circle
        #half__circle {
            opacity: 0;
        }
        // intro line
        #intro__line {
            stroke-dasharray: 125;
            stroke-dashoffset: 0;
            transform: translateX(125%);
        }
        // bottom line
        #bottom__line {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
        }
        // mouse

        // left content
        #left__content {
            opacity: 1;
            stroke: #ce4257;
        }
        // left list small
        #left__side__small {
            display: none;
        }
        // right content
        #right__content {
            // display: none;
            opacity: 0;
        }
        // computer
        #computer {
            // display: none;
            .border {
                stroke: #0ae0e0;
                stroke-width: 2.5px;
                stroke-dasharray: 1250;
                stroke-dashoffset: 0;
                fill: transparent;
            }
            .mask {
                display: none;
            }
        }
        // screen background
        #screen__bg {
            opacity: 0;
        }
        // content list
        #secound__content,
        #world,
        #forward__list,
        #massage__list {
            opacity: 0;
        }
        // big list
        #big__list {
            opacity: 0;
        }
        #content__list .list {
            opacity: 0;
        }
        #secound__content {
            opacity: 0;
        }
        #secound__content #long__line {
            opacity: 0;
        }
        #bubble circle {
            opacity: 0;
        }
    }
}
